.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100vh;
  width: 100%;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.fightContainer {
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 80vw;
}

.tiles {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 1rem;
  border-bottom: 5px solid #ccc;
}

.player {
  height: 60%;
  width: 100%;
  margin: 1rem;
  background-color: #ccc;
}

.playerProgressBar {
  height: 3%;
  width: 100%;
  margin: 1rem;
}

.playerProgressBar > div {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
